<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="labelInput(etiqueta, tipo, id, opciones)"
	class="row mb-3">

	<div th:if="${tipo == 'submit'}" class="offset-sm-2 col-sm">
		<button type="submit" class="btn btn-primary" th:text="${etiqueta}">ETIQUETA</button>
	</div>

	<label th:if="${tipo != 'submit'}" th:for="${id}"
		class="col-sm-2 col-form-label" th:text="${etiqueta}">ETIQUETA</label>

	<div th:if="${tipo != 'submit'}" th:switch="${tipo}" class="col-sm">

		<select th:case="'select'" class="form-select"
			th:classappend="${#fields.hasErrors(id)} ? 'is-invalid' : ''"
			th:field="*{__${id}__}">
			<option value="">Opciones</option>
			<option th:each="opcion: ${opciones}" th:text="${opcion.nombre}"
				th:value="${opcion.id}">OPCION</option>
		</select>

		<textarea th:case="'textarea'" class="form-control"
			th:classappend="${#fields.hasErrors(id)} ? 'is-invalid' : ''"
			rows="5" th:field="*{__${id}__}"></textarea>

		<input th:case="*" th:type="${tipo == null ? 'text' : tipo}"
			class="form-control"
			th:classappend="${#fields.hasErrors(id)} ? 'is-invalid' : ''"
			th:field="*{__${id}__}"
			th:step="${decimales != null ? (1 / (10 ^ decimales)) : ''}"
			th:accept="${tiposFichero != null ? tiposFichero : ''}">

		<div class="invalid-feedback" th:each="error: ${#fields.errors(id)}"
			th:text="${error}">Error</div>

	</div>
</div>

</html>
