<!DOCTYPE html>
<html class="h-100" lang="es"
	th:fragment="plantilla (titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
<meta charset="UTF-8">
<title th:replace="${titulo}">Amazonia</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<base th:href="@{/}">
<link href="../imgs/chat.svg" rel="icon">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/bootstrap-icons.min.css" rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="h-100 d-flex flex-column">
	<nav class="navbar navbar-expand-md bg-dark mb-5 sticky-top"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="mensajes"><i class="bi bi-cart"></i>
				Amazonia</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-sm-0">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/}">Principal</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Categorías </a>
						<ul class="dropdown-menu">

							<li th:each="categoria: ${categorias}" th:object="${categoria}"><a
								class="dropdown-item" href="#"
								th:href="@{/categoria/{id}(id=*{id})}" th:text="*{nombre}">Principal</a></li>
						</ul></li>
				</ul>
				<form th:action="@{/buscar}" class="d-flex" role="search">
					<input name="texto" class="form-control me-2" type="search"
						placeholder="Texto a buscar" aria-label="Search" />
					<button class="btn btn-outline-light" type="submit">Buscar</button>
				</form>
				<ul class="navbar-nav mb-2 mb-sm-0 ms-auto">
					<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="nav-item"><a
						class="nav-link" href="#" th:href="@{/admin/productos/listado}">Administración</a></li>
					<li sec:authorize="isAuthenticated()" class="navbar-text"><i
						class="bi bi-person"></i> <span sec:authentication="name">NOMBRE</span></li>
					<li class="navbar-text">
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a
						class="nav-link" href="login"><i
							class="bi bi-box-arrow-in-right"></i></a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item">
						<form th:action="@{/logout}" th:method="post" class="d-flex">
							<button class="nav-link">
								<i class="bi bi-box-arrow-right"></i>
							</button>
						</form>
					</li>
				</ul>

			</div>
		</div>
	</nav>

	<div class="flex-grow-1">
		<main th:replace="${contenido}"></main>
	</div>

	<footer
		class="mt-5 p-2 text-bg-dark d-flex justify-content-between align-items-baseline">
		<p>&copy;2026 Javier Lete</p>
		<ul class="nav">
			<li class="nav-item"><a class="nav-link text-light" href="#"><i
					class="bi bi-facebook"></i></a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#"><i
					class="bi bi-twitter-x"></i></a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#"><i
					class="bi bi-youtube"></i></a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#"><i
					class="bi bi-instagram"></i></a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#"><i
					class="bi bi-tiktok"></i></a></li>
		</ul>
	</footer>
	<script src="../js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>
</body>
</html>
