<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{_global :: plantilla(~{::title}, ~{::main})}">
<title>Amazonia: ADMIN</title>
<main class="container">

	<h2>Carrito</h2>

	<div class="table-responsive">
		<table class="table">
			<caption>Productos</caption>

			<thead class="table-secondary">
				<tr>
					<th></th>
					<th>Nombre</th>
					<th class="text-end">Precio</th>
					<th class="text-center">Cantidad</th>
					<th class="text-end">IVA</th>
					<th class="text-end">Total</th>
				</tr>
			</thead>

			<tbody>
				<tr class="align-baseline" th:each="linea: ${carrito.lineas}"
					th:object="${linea}">
					<td><a href="#"
						th:href="@{/carrito/borrar(id=*{producto.id})}"
						class="text-danger"><i class="bi bi-trash-fill"></i></a>
					<td th:text="*{producto.nombre}">PRODUCTO</td>
					<td class="text-end"
						th:text="${#numbers.formatCurrency(linea.producto.precio)}">432.10
						€</td>
					<td>
						<div class="input-group mb-3">
							<a class="btn btn-outline-secondary"
								th:href="@{/carrito/producto(id=*{producto.id},cantidad=-1)}"><i
								class="bi bi-dash-lg"></i></a> <input style="width: 2rem"
								class="form-control text-center" th:value="*{cantidad}">
							<a class="btn btn-outline-secondary"
								th:href="@{/carrito/producto(id=*{producto.id},cantidad=1)}"><i
								class="bi bi-plus-lg"></i></a>
						</div>
					</td>
					<td class="text-end" th:text="${#numbers.formatCurrency(linea.iva)}">1.234,56&nbsp;€</td>
					<td class="fw-bold text-end" th:text="${#numbers.formatCurrency(linea.total)}">1.234,56&nbsp;€</td>
				</tr>
			</tbody>
			
			<tfoot class="table-secondary">
				<tr>
					<td class="text-end" colspan="5">IVA</td>
					<td class="text-end" th:text="${#numbers.formatCurrency(carrito.iva)}">
						1.234,56&nbsp;€
					</td>
				</tr>
				<tr class="fw-bold">
					<td class="text-end" colspan="5">Total (IVA incluído)</td>
					<td class="text-end" th:text="${#numbers.formatCurrency(carrito.total)}">
						1.234,56&nbsp;€
					</td>
				</tr>
				<tr>
					<td class="text-end" colspan="6">
						<a class="btn btn-primary" th:href="@{/cliente/tramitar-pedido}">Tramitar pedido</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">Vas a
						borrar un producto</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">No</button>
					<a id="si-borrar" href="#" class="btn btn-danger"
						th:href="@{/admin/productos/borrar/}">Sí</a>
				</div>
			</div>
		</div>
	</div>

	<script>
		const exampleModal = document.getElementById('staticBackdrop');
		
		const ruta = exampleModal.querySelector('#si-borrar').href;
		
		if (exampleModal) {
			exampleModal.addEventListener('show.bs.modal', event => {
		    const a = event.relatedTarget;
		    
		    const id = a.dataset.id;
	
		    const modalBody = exampleModal.querySelector('.modal-body');
		    
		    modalBody.textContent = `¿Estás seguro de borrar el producto ${id}?`;
		    
		    exampleModal.querySelector('#si-borrar').href = `${ruta}${id}`;
		  });
		}
	</script>
</main>