<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{_global :: plantilla(~{::title}, ~{::main})}">
<title>Amazonia: ADMIN</title>
<main class="container">

	<form th:action="@{/admin/productos/guardar}" th:method="post" th:object="${producto}" enctype="multipart/form-data">
		<input type="hidden" name="id" th:value="*{id}">
		<div th:replace="~{_fragmentos :: labelInput('Nombre', 'text', 'nombre', null)}"></div>
		<div th:replace="~{_fragmentos :: labelInput('Precio', 'number', 'precio', null)}"></div>
		<div th:replace="~{_fragmentos :: labelInput('Categoría', 'select', 'categoria', ${categorias})}"></div>
		<div th:replace="~{_fragmentos :: labelInput('Foto', 'file', 'foto', null)}"></div>
		<div th:replace="~{_fragmentos :: labelInput('Descripción', 'textarea', 'descripcion', null)}"></div>
		
		<div th:replace="~{_fragmentos :: labelInput('Guardar', 'submit', null, null)}"></div>
	</form>

</main>
