<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{_global :: plantilla(~{::title}, ~{::main})}">
<title>IparteXpring</title>
<main class="container">
	<form action="index.html" th:action="@{/enviar}" th:method="post">
		<div th:replace="~{_fragmentos :: labelInput('Javier', 'textarea', 'texto', '')}"></div>
		<div th:replace="~{_fragmentos :: labelInput('Enviar', 'submit', '', '')}"></div>
	</form>

	<ul class="list-group list-group mb-4">
		<li th:each="m: ${mensajes}"
			class="list-group-item d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<div class="fw-bold" th:text="${m.usuario}">NOMBRE USUARIO</div>
				<span th:text="${m.texto}">TEXTO</span>
				<div>
					<span th:text="${m.numeroMeGusta}">5</span> <a
						th:href="${(m.rellenado != null && m.rellenado ? 'no-me-gusta' : 'me-gusta') + '?idMensaje=' + m.id}"><i
						class="text-danger bi" th:classappend="${m.rellenado != null && m.rellenado} ? 'bi-heart-fill': 'bi-heart'"></i></a>
					<span th:text="${m.numeroRespuestas}">6</span> <a
						href="#"><i
						class="bi bi-chat"></i></a>
				</div>
			</div> <span class="badge text-bg-primary rounded-pill" th:text="${m.momento}"></span>
		</li>
	</ul>

</main>