@charset "UTF-8";

:root {
	--borde: 1px solid darkgray;
	--redondeo: 0.5rem;
	--margen: 0.5rem;
}

body {
	font-family: sans-serif;
	
	margin: 0;
}

body > header, body > footer {
	padding: var(--margen);
	
	background-color: black;
	color: white;
}

table {
	border-collapse: collapse;
	width: 100%;
	
	& thead, & tfoot {
		background-color: gray;
	}
	
	& td, & th {
		text-align: left;
		
		border: 1px solid darkgray;
		padding: var(--margen);
	}
}

li {
	list-style: none;
	width: 100%;
	text-align: center;
	
	& a {
		display: inline-block;
		text-decoration: none;
		
		font-weight: bold;
		
		border: var(--borde);
		border-radius: var(--redondeo);
		
		background-color: lightgray;
		
		padding: calc(var(--redondeo)/2) var(--redondeo);
		margin: calc(var(--margen)/2) 0;
	}
}

form {
	padding: var(--margen);
	
	& div {
		display: flex;
		align-items: baseline;
	}
}

label {
	width: 10rem;
}


fieldset, input, button, select {
	flex-grow: 1;

	border: var(--borde);
	border-radius: var(--redondeo);
	
	padding: calc(var(--redondeo)/2) var(--redondeo);
		margin: calc(var(--margen)/2) 0;
}

button {
	margin-left: 10rem;
}

a {
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}